* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Login Form */

.login-form {
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(22px);
    width: 80%;
    max-width: 1200px;
    height: 600px;
    display: flex;
    border-radius: 20px;
    border: 5px solid #0f1337;
    position: relative;
}

.login-form form {
    width: 70%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form form h1 {
    color: black;
    margin-bottom: 1rem;
}

/* Form */

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 50%;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.form-group input {
    border: 2px solid #fff;
    background-color: transparent;
    border-radius: 20px;
    height: 40px;
    padding: 0.5rem;
}

.button {
    width: 50%;
    text-align: center;
}

.button button {
    background-color: #fff;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    margin-bottom: 2rem;
    padding: 10px;
    cursor: pointer;
    font-weight: 700;
}

.button a {
    color: black;
    text-decoration: none;
    font-weight: 700;
}

/* Signup form */
.btn-group {
    display: flex;
    gap: 2rem;
    width: 50%;
}

.btn-group .button {
    width: 100% !important; 
}

/* Login Image */

.login-image {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.login-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0 20px 20px 0;
}

/* Switch between Login form and Signup form */
.active-signup {
    display: none !important;
}

.active-login {
    display: none !important;
}


/* Circle */

.circle-1 {
    width: 500px;
    height: 500px;
    position: fixed;
    background: linear-gradient(to right, #c31432, #240b36);
    border-radius: 100%;
    z-index: -1;
    left: 2rem;
    top: 45%;
}

.circle-2 {
    width: 600px;
    height: 600px;
    position: fixed;
    background: linear-gradient(to right, #ff0099, #493240);
    border-radius: 100%;
    z-index: -2;
    left: 30rem;
    top: -20%;
}

.circle-3 {
    width: 300px;
    height: 300px;
    position: fixed;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    border-radius: 100%;
    z-index: -1;
    left: 55rem;
    top: 70%;
}

.circle-4 {
    width: 1000px;
    height: 1000px;
    position: fixed;
    background: linear-gradient(to right, #6441a5, #2a0845);
    border-radius: 100%;
    z-index: -4;
    left: 90rem;
    top: -50%;
}

.circle-5 {
    width: 200px;
    height: 200px;
    position: fixed;
    background: linear-gradient(to right, #0575e6, #021b79);
    border-radius: 100%;
    z-index: -1;
    left: 5rem;
    top: 5%;
}

.circle-6 {
    width: 400px;
    height: 400px;
    position: fixed;
    background: linear-gradient(to right, #1a2980, #26d0ce);
    border-radius: 100%;
    z-index: -1;
    left: 90rem;
    top: 62%;
}

/* mini-circle */

.mini-circle {
    width: 70px;
    height: 70px;
    position: fixed;
    border-radius: 100%;
    z-index: -1;
}

.circle-7 {
    background: linear-gradient(to right, rgb(35, 35, 212), rgb(213, 213, 221));
    left: 20rem;
    top: 30%;
}

.circle-8 {
    background: linear-gradient(to right, rgb(238, 180, 199), rgb(216, 27, 68));
    left: 78rem;
    top: 5%;
}

.circle-9 {
    background: linear-gradient(to right, rgb(212 58 35), rgb(49 59 181));
    left: 65rem;
    top: 50%;
}

.circle-10 {
    background: linear-gradient(to right, rgb(13 235 181), rgb(10 102 217));
    left: 43rem;
    top: 80%;
}

@media (max-width: 1024px){
    .btn-group {
        flex-direction: column;
        gap: 0;
    }
}

@media (max-width: 768px){
    .login-image {
        display: none;
    }
    
    .login-form form {
        width: 100%;
    }

    .btn-group {
        flex-direction: column;
        gap: 0.5rem;
    }

    .button button {
        margin-bottom: 0;
    }
}

@media (max-width: 426px){
    .form-group {
        margin-bottom: 1rem;
        width: 80%;
    }

    .form-group label {
        font-weight: normal;
    }
}

@media (max-width: 348px){
    .btn-group {
        width: 80%;
    }
}